@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;

}
body{
  margin: 0;
  line-height: 1.5;
}
h1{
  color: #E6EDFA;
  font-family: 'Montserrat', sans-serif;
}
p{
  font-size: 1.1rem;
  margin: 5px;
  padding: 10px;
  font-family: 'Montserrat', sans-serif;
}
figure{
  display: grid;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}
ul{
  list-style: none;
  height: 100%;
}

li{
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-size: 3.5rem;
}
a{
  text-decoration: none;
  color: #152C52; 
  font-family: 'Montserrat', sans-serif;
}
a:hover{
  text-decoration: underline;
}
figcaption{
  color:#152C52;
}
header{
  font-weight: bold;
  font-size: 1.3rem;
  margin: 14px;
  text-decoration: underline;
  font-family: 'Montserrat', sans-serif;
}
button{
  display: inline-flex;
  align-items: center;
  height: 50px;
  margin: 10px;
}
/*hamburger icon code*/
#ham-icon{
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#ham-icon div{
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.ham-container{
  background-color: #152C52;
}
/*will rotate counterclockwise once user presses the icon which will form an X along with bar2*/
.open .bar1{
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}
/*will 'disappear' the user clicks on the icon*/
.open .bar2{
  opacity: 0;
}

.open .bar3{
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}
/*once user opens the icon the links will display in a stacked view*/
.open .mobile-menu{
  display: flex;
  flex-direction: column;/*stacks each link on top of each other on mobile*/
  align-items: center;
  justify-content: flex-start;
}
.mobile-menu{
  display: none;
  position: absolute;
  top: 50px;/*fixed height of header*/
  left: 0;
  height: calc(70vh - 50px);/*takes the full remaining space of site hence width 100. set the height to 100 and subtract it from the height of header*/
  width: 100%;
  margin-top: 10px;
  font-size: 1.5rem;
  /*sets the background of the menu once user opens the icon. I want to make this transition more seamless. (future update)*/
  background-color: white;
  opacity: 0.8;
}
.mobile-menu a{
  color: black;
}

.mobile-menu li{
  margin-bottom: 10px;
}
.home {
  float: left;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  padding: 1.5rem;
  font-size: 1.6rem;
}
.btn-cont{
  width: 100%;
  display: flex;
}
.btn{
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
  background-color: white;
  font-size: 1.1rem;
  color: #152C52;
}
.btn:hover{
  background-color: #E6EDFA;
  transition: background-color 0.25s;
}
.nav-bar{
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: flex-end;
  background-color: #E6EDFA; 
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 6px 15px -10px grey;
}

.nav-list{
  display: flex;
  margin-right: 1.5rem;
}
.nav-list a{
  display: block;
  font-size: 20px;
  padding: 1.78rem;
}

.nav-list a:hover{
  text-decoration: underline;
  /*color: #E6EDFA;
  background-color: #152C52;
  transition: background-color .5s;*/
}
.welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #152C52;
  text-align: center;
  padding: 3rem 0;
  background-image: linear-gradient(345deg, #e6edfad4, rgb(86 18 141 / 14%));
}

.welcome > p{
  font-size: 2rem;
  color: #E6EDFA;
}

.about-grid{
  display: grid;
  width: 100%;
  padding: 3rem 0;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-template-rows: 1fr;
  grid-template-areas:
    "about skills"
    ;
}

 #about{
  grid-area: about;
  width: 100%;
  display: grid;
  margin: 15px auto;
  justify-content: flex-start;
}
#skills{
  grid-area: skills;
  width: 100%;
  height: 0;
  display: grid;
  margin: 15px auto;
  justify-content: flex-start;
}
.skill-list{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.skill-list > li{
  padding: 18px;
  padding: 16px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}
/*I wanted to customize my own bullet points for the skills list.
using the regular bullet points provided by <li> didn't suit well with the webpage*/
.skill-list > li::before{
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #152C52;
  margin: 1em;
  display: inline;
  margin-left: -1em;
}

.about-title{
  width: 100%;
  display: flex;
  justify-content: center;
  font-family: 'Roboto',sans-serif;
  letter-spacing: 2px;
  color: #152C52;
}

.about-title > p{
  text-align: left;
}


.proj-cont{
  background-color: #F8FAFB;
  padding: 3.6rem 2.5rem;
  
}
.proj-cont-2{
  background-color: #F3E2D0;
  padding: 3.6rem 2.5rem;
}

.proj-cont-3{
  background-color: #FFF7E0;
  padding: 3.6rem 2.5rem;
    
}

.proj-cont-4{
  background-color: #e7efff;
  padding: 3.6rem 2.5rem;
}

.proj-cont-5{
  background-color: #f7f7f7;
  padding: 3.6rem 2.5rem;
}

.proj-cont-6{
  padding: 3.6rem 2.5rem;
}

.projects-section{
  display: inline-flex;
  justify-content: center;
  width: 100%;
  align-content: center;
  margin-top: 15px;
  
}

.project-1,
.project-2,
.project-3,
.project-4,
.project-5,
.project-6{
  margin: 70px auto;
  width: 100%;
}

.proj-title{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  text-decoration: underline;
  margin: 5rem 0;
  font-size: 2.1rem;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  color: #152C52;
}

img{
  display: flex;
  width: 100%;
  border-radius: 10px;
  margin: 25px auto;
  box-shadow: 0 11px 30px rgb(0 0 0 / 14%);
}

.contact-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #E6EDFA;
  width: 100%;
}
.contact-details{
  width: 100%;
}
.contact-details > p{
  display: inline-block;
  padding: 10px 30px;
}
.contact-details > h2{
  color: #152C52;
  font-size: 2.3rem;
}
.contacts-img{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.contact-links{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.contact-title{
  margin-bottom: 50px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
}
@media screen and (max-width: 500px) {
  *{
    overflow-x: hidden;
  }
  
  .welcome > p{
    text-align: center;
  }
  .btn{
    font-size: 0.95rem;
  }
  .about-grid{
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  grid-template-rows: 1fr;
  grid-template-areas:
    "about"
    "skills"
    ;
  }
  #skills{
    height: 100%;
  }
  #skills > ul{
   padding: 0 1.2rem;
  }
  .projects-section{
    margin: 15px auto;
    text-align: center;
  }
  
  .project-1, .project-2, .project-3, .project-4, .project-5, .project-6 {
    margin: 0 auto;/*30px 10px;*/
    width: 100%;
  }
  h1{
    font-size: 3.3rem;
    text-align: center;
    margin: 20px auto;
  }
  .nav-bar{
    display: none;
    }
  
  #ham-icon{
    display: block;
  }
  
  .contact-links{
   display: inline-flex;
   align-items: center;
   flex-direction: column;
   justify-items: center;
}
 .contact-details{
   display: flex;
   flex-direction: column;
   justify-items: center;
}
  .contacts-img{
    margin: 0 auto;
  }
  .ham-container{
    padding: 1.1rem;
  }


}
