@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
body{
  line-height: 1.5;
}
ul{
  list-style: none;
}
h1{
  font-size: 3.5rem;
}
a{
  text-decoration: none;
  color: #E6EDFA;
}

.nav-bar{
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: flex-end;
  background-color: #152C52;
  top: 0;
  left: 0;
  z-index: 10;
}

.nav-list{
  display: flex;
  margin-right: 1.5rem;
}
.nav-list a{
  display: block;
  font-size: 20px;
  padding: 1.5rem;
}

.nav-list a:hover{
  color:#152C52;
  background-color: #E6EDFA;
  transition: background-color .5s;
}
#about{
  margin-top: 15px;
}
.welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color:#E6EDFA;
}

.welcome > p{
  font-size: 2rem;
  color: #152C52;
}
.proj-grid{
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.20fr 1fr;
  grid-template-areas:
    "projects-section projects-section projects-section"
    "project-1 project-2 project-3";
}
.projects-section{
  grid-area: projects-section;
  display: grid;
  justify-content: center;
  align-content: center;
  margin-top: 15px;
  
}
.project-1{
  grid-area: project-1;
  width: 100%;
}

project-2{
  grid-area: project-2;
  width: 100%;
}

project-3{
  grid-area: project-3;
  width: 100%;
}
.proj-title{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  text-decoration: underline;
  margin: 0 auto 6rem auto;
}

img{
  display: block;
  width: 100%;

