@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  line-height: 1.5;
}
h1{
  color: #E6EDFA;
}
p{
  font-size: 1.1rem;
  margin: 5px;
  padding: 10px;
}
figure{
  display: grid;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}
ul{
  list-style: none;
}
h1{
  font-size: 3.5rem;
}
a{
  text-decoration: none;
  color: #152C52; 
}
a:hover{
  text-decoration: underline;
}
figcaption{
  color:#152C52;
}
header{
  font-weight: bold;
  font-size: 1.3rem;
  margin: 14px;
  text-decoration: underline;
}
button{
  display: inline-flex;
  align-items: center;
  height: 50px;
  margin: 10px;
}
.btn-cont{
  width: 100%;
  display: flex;
}
.btn{
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
  justify-content: center;
  background-color: white;
  font-size: 1.1rem;
  color: #152C52;
}
.btn:hover{
  background-color: #E6EDFA;
  transition: background-color 0.25s;
}
.nav-bar{
  width: 100%;
  position: sticky;
  display: flex;
  justify-content: flex-end;
  background-color: #E6EDFA; 
  top: 0;
  left: 0;
  z-index: 10;
}

.nav-list{
  display: flex;
  margin-right: 1.5rem;
}
.nav-list a{
  display: block;
  font-size: 20px;
  padding: 1.5rem;
}

.nav-list a:hover{
  color: #E6EDFA;
  background-color: #152C52;
  transition: background-color .5s;
}
.welcome{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #152C52;
  text-align: center;
}

.welcome > p{
  font-size: 2rem;
  color: #E6EDFA;
}

.about-grid{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-template-rows: 1fr;
  grid-template-areas:
    "about skills"
    ;
}

 #about{
  grid-area: about;
  width: 100%;
  display: grid;
  margin: 15px auto;
  justify-content: flex-start;
}
#skills{
  grid-area: skills;
  width: 100%;
  height: 0;
  display: grid;
  margin: 15px auto;
  justify-content: flex-start;
}
.skill-list{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.skill-list > li{
  padding: 18px;
  padding: 16px;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
/*I wanted to customize my own bullet points for the skills list.
using the regular bullet points provided by <li> didn't suit well with the webpage*/
.skill-list > li::before{
  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #152C52;
  margin: 1em;
  display: inline;
  margin-left: -1em;
}
.about-title > p{
  text-align: left;
}
.about-title{
  width: 100%;
  display: flex;
  justify-content: center;
}

.proj-cont{
  background-color: #F8FAFB;
  padding: 3.6rem 2.5rem;
  
}
.proj-cont-2{
  background-color: #F3E2D0;
  padding: 3.6rem 2.5rem;
}

.proj-cont-3{
  background-color: #FFF7E0;
  padding: 3.6rem 2.5rem;
    
}

.proj-cont-5{
  background-color: #f7f7f7;
  padding: 3.6rem 2.5rem;
}


.projects-section{
  display: inline-flex;
  justify-content: center;
  width: 100%;
  align-content: center;
  margin-top: 15px;
  
}

.project-1,
.project-2,
.project-3,
.project-4,
.project-5,
.project-6{
  margin: 70px auto;
  width: 100%;
}

.proj-title{
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  text-decoration: underline;
  margin: 5rem auto 2rem auto;
  font-size: 2.1rem;
}

img{
  display: flex;
  width: 100%;
  border-radius: 10px;
  margin: 25px auto;
  box-shadow: 0 11px 30px rgb(86 18 141 / 14%);
}

.contact-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #E6EDFA;
  width: 100%;
}
.contact-details{
  width: 100%;
}
.contact-details > p{
  display: inline-block;
  padding: 10px 30px;
}
.contact-details > h2{
  color: #152C52;
  font-size: 2.3rem;
}
.contacts-img{
  display: inline-block;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.contact-links{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.contact-title{
  margin-bottom: 50px;
}
@media screen and (max-width: 500px) {
  .welcome > p{
    text-align: center;
  }
  .btn{
    font-size: 0.95rem;
  }
  .about-grid{
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  grid-template-rows: 1fr;
  grid-template-areas:
    "about"
    "skills"
    ;
  }
  #skills{
    height: 100%;
  }
  #skills > ul{
   padding: 1.5rem;
  }
  .projects-section{
    margin: 15px auto;
    text-align: center;
  }
  
  .project-1, .project-2, .project-3, .project-4, .project-5, .project-6 {
    margin: 0 auto;/*30px 10px;*/
    width: 100%;
  }
  h1{
    font-size: 3.3rem;
    text-align: center;
    margin: 20px auto;
  }
  .nav-bar{
    display: none;
    }
  .contact-links{
   display: inline-flex;
   align-items: center;
   flex-direction: column;
   justify-items: center;
}
 .contact-details{
   display: flex;
   flex-direction: column;
   justify-items: center;
}
  .contacts-img{
    margin: 0 auto;
  }


}
